.about {
    min-height: 100vh;
    background: #22262a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.about-container {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0.4);
    opacity: 0;
    font-size: 1.1rem;
    padding: 2.75em;

    transition: all 800ms;
}

.about-container.fade-in {
    transform: scale(1);
    opacity: 1;
}

.about-container h2 {
    font-size: 2.2rem;
    letter-spacing: 1px;
    font-family: 'Staatliches', sans-serif;
}

.about-container p {
    margin: 0.3em 0;
}

.about-container .cv-link {
    color: #94a4b4;
    cursor: pointer;

    transition: 150ms ease;
}

.cv-link a {
    color: inherit;
}

.cv-link i {
    margin-left: 0.15em;
    font-size: 1em;
}

.about-container .cv-link:hover {
    color: #5b6570;
}

@media screen and (min-width: 1000px) {
    .about-container {
        padding: 0;
    }
}
