.about {
    min-height: 100vh;
    background: #22262a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata';
    text-align: center;
}

.about-container {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(0.4);
    opacity: 0;

    transition: all 800ms;
}

.about-container.fade-in {
    transform: scale(1);
    opacity: 1;
}
