.projects {
    /* min-height: 100vh; */
    background: #22262a;
    padding: 3em 0;
}

.projects-container {
    max-width: 1000px;
    margin: 0 auto;
}

.projects-header {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}

.all-projetcs {
    display: grid;
    padding: 0 3em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 35px;
    justify-content: center;
}

.project {
    background-color: rgb(26, 26, 26);
    box-shadow: 0 0 13px #000;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transform: scale(0.85);

    transition: all 300ms;
}

.project.fade-in {
    transform: scale(1);
    opacity: 1;
}

.project::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(10 / 16 * 100%);
}

.project .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;

    transform: scale(1);
    transition: transform 250ms ease-in;
}

.project:hover .img {
    transform: scale(1.2);
}

.project .hover {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
    opacity: 0;

    transition: opacity 250ms ease-in;
}

.project:hover .hover {
    opacity: 1;
}

.project .hover span {
    width: 8.75em;
    position: absolute;
    bottom: 1.1em;
    left: calc(50% - 4.375em);
    font-size: 0.95rem;
    text-decoration: none;
    color: #000;
    background: hsla(0, 0%, 100%, 0.75);
    padding: 0.4em 1.1em 0.3em;
    border-radius: 5px;
    display: inline-block;
    transform: scale(1.05);

    transition: all 150ms ease-in-out;
}

.project .hover span:hover {
    background: hsla(0, 0%, 100%, 0.95);
    transform: scale(1.09);
}

.project .hover i {
    margin-right: 0.5em;
}

@media screen and (min-width: 1030px) {
    .all-projetcs {
        padding: 0;
        grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
    }
}
