.contact {
    padding-top: 6em;
}

.contact-container {
    max-width: 510px;
    margin: 0 auto;
    padding: 3em;
}

.contact-header {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 2px;
}

.contact-form {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3rem 1fr;
    row-gap: 1.5em;
    color: var(--clr-light);
    font-family: var(--ff-sec);
}

.contact-form label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0.3em;
}

.contact-form i {
    font-size: 1.5rem;
    padding-left: 0.1rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background: none;
    color: inherit;
    border: none;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.4em;
    resize: none;
    outline: none;
    font-size: 1.1rem;
    padding: 0.3em 0.5em;

    transition: border 200ms ease-in;
}

.contact-form input.hasValue:valid,
.contact-form textarea.hasValue:valid {
    border: 3px solid rgba(0, 200, 0, 0.3);
}

.contact-form input.hasValue:invalid,
.contact-form textarea.hasValue:invalid {
    border: 3px solid rgba(200, 0, 0, 0.3);
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 3px solid rgba(0, 0, 0, 0.4) !important;
}

.contact-form textarea {
    height: 8em;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: var(--clr-light);
    opacity: 0.5;
}

.contact-form p {
    margin: -1em 0;
    grid-column: 2;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 300;
    opacity: 0.8;
}

.contact-form button {
    grid-column: 2;
    cursor: pointer;
    background: none;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.4em;
    color: inherit;
    padding: 0.4em 0.8em;
    font-size: 1rem;
    letter-spacing: 0.5px;
    width: max-content;
    justify-self: flex-end;
    outline: none;

    transition: all 150ms ease-in;
}

.contact-form button:hover,
.contact-form button:focus {
    border: 3px solid rgba(0, 0, 0, 0.4);
}
