.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    text-transform: uppercase;
}

.header-container {
    margin: 0 auto;
    padding: 3em 1.7em;
    max-width: 55rem;

    opacity: 0;
    transform: scale(0.4);
    transition: all 800ms;
}

.header-content {
    text-align: center;
}

.header-title {
    font-size: 4rem;
    letter-spacing: 0.7px;
}

.header-sub {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    color: var(--clr-light);
    margin: 0.3em;
}

.word {
    height: 1em;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
}

.word-base,
.word-hover {
    margin: 0 0.1em;
    transform: translateY(0%);
    transition: transform 200ms ease-in-out;
}

.word-hover {
    color: var(--clr-dark);
}

.word.isActive .word-hover,
.word.isActive .word-base {
    transform: translateY(-100%);
}

@media screen and (min-width: 600px) {
    .header-container {
        padding: 0 1.7em;
    }

    .header-title {
        font-size: 6.5rem;
    }

    .header-sub {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1000px) {
    .header-container {
        padding: 0;
    }
}
