.footer {
    background-color: var(--bg-foot);
    font-family: var(--ff-sec);
    font-weight: 400;
    margin: 0;
    font-size: 0.9rem;
    border-top: 1px solid var(--clr-light);
}

.footer-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    text-align: center;
}

.footer-container p {
    margin: 0.35em;
}

.footer-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-container a {
    color: var(--clr-light);
    text-decoration: underline;

    transition: 150ms ease;
}

.footer-container a:hover {
    color: var(--clr-dark);
}
