.footer {
    background-color: var(--bg-foot);
    font-family: var(--ff-sec);
    font-weight: 400;
    margin: 0;
    font-size: 0.9rem;
    border-top: 1px solid var(--clr-light);
}

.footer-container {
    max-width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    text-align: center;
}

.footer-container p {
    margin: 0;
    padding: 0.4em 0;

    display: flex;
    flex-direction: column;
}

.footer-container p span:first-of-type {
    margin-bottom: 0.75em;
}

.footer-container a {
    color: var(--clr-light);
    text-decoration: underline;

    transition: 150ms ease;
}

.footer-container a:hover {
    color: var(--clr-dark);
}

@media screen and (min-width: 500px) {
    .footer-container p {
        flex-direction: row;
    }

    .footer-container p span:first-of-type {
        margin-bottom: 0.1em;
        margin-right: 0.5em;
    }
}
