.footer {
    background-color: rgb(26, 26, 26);
    color: #fff;
    font-family: 'Inconsolata';
    font-weight: 400;
    margin: 0;
    font-size: 0.9rem;
    border-top: 1px solid #94a4b4;
}

.footer-container {
    max-width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

.footer-container p {
    margin: 0;
    padding: 0.4em 0;
}

.footer-container a {
    color: #94a4b4;
    text-decoration: underline;
}

.footer-container a:hover {
    text-decoration: none;
}
